{% extends "base.html" %}
{% load static %}



{% block content %}

<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h2>AGREGAR Entregable</h2>

                <form action="" method="POST" style="color: white;">
                    
                    {% csrf_token %} 
                    <h4 style="font-size:medium;color: white ; text-align: center; margin-left: 50px;">Nombre: <input type="text" name="nombre"></h4>
                    <h4 style="font-size:medium;color: white ; text-align: center; margin-left: 50px;">Fecha Entrega: <input type="date" name="fecha_entrega"></h4>
                    <h4 style="font-size: medium; color: white; text-align: center; margin-left: 50px;">Entregado (responda Si o No): <input type="text" name="entregado" maxlength="2" size="2"></h4>

                    <input type="submit" value="CREAR">
                    
                </form>
                <br><br>
                <h4><a href="{% url 'ListaEntregable' %}">Regresar</a></h4>

            </div>
        </div>
    </div>    
</section>

{% endblock %}