{% extends "base.html" %}
{% load static %}
{% block title %} Bienvenida {% endblock %}

{% block navbar %}
  
{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero-no-slider" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2>Bienvenido a nuestra página</h2>
          <div class="text-center">
            <!-- Botón para redirigir a la página de login -->
            <a href="{% url 'Login' %}" class="btn btn-primary">Iniciar Sesión</a>
            <!-- Botón para redirigir a la página de registro -->
            <a href="{% url 'Registro' %}" class="btn btn-success">Registrarse</a>
          </div>
          <p>{{ mensaje }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
    <style>
        /* Agrega un estilo específico para ocultar el footer en esta página */
        .hidden-footer {
            display: none;
        }
    </style>

    <footer id="footer" class="hidden-footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <!-- Contenido del footer... -->
    </footer>
{% endblock %}

